<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | absolute_url }}">
  <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="description" content="{{ site.description }}">
  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:locale" content="{{ site.locale | replace: "-", "_" | default: "en_US" }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.logo }}">
  <meta property="og:image" content="{{ site.logo }}">

{% if site.twitter_username %}
  <meta name="twitter:site" content="@{{ site.twitter_username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:url" content="{{ site.url }}/{{ page.url }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.logo }}">
{% endif %}
  
</head>
